body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p,
div {
  color: $color-main;
  font-size: 0.9rem;
  @include media(xs) {
    font-size: 1.1rem;
  }
  @include media(md, v) {
    font-size: 1.5rem;
  }
  @include media(lg, v) {
    font-size: 2rem;
  }
  @include media(xl, h) {
    font-size: 1.2rem;
  }
  @include media(xxl, h) {
    font-size: 1.9rem;
  }
}
