.hero__title {
  position: relative;
  font-size: 3rem;
  width: min-content;
  text-align: center;
  animation: drop 0.5s 0.5s linear both;
  user-select: none;
  user-zoom: fixed;
  @include title-text;
  @include media(md) {
    font-size: 5rem;
    text-align: left;
    margin: 0;
  }
  @include media(xl) {
    font-size: 6rem;
  }
  @include media(xxl) {
    font-size: 8rem;
  }
}
