$breakpoints: (
  xs: (
    min-width: 360px,
  ),
  sm: (
    min-width: 576px,
  ),
  md: (
    min-width: 768px,
  ),
  lg: (
    min-width: 992px,
  ),
  xl: (
    min-width: 1200px,
  ),
  xxl: (
    min-width: 1440px,
  ),
);

$orientation: (
  h: (
    orientation: landscape,
  ),
  v: (
    orientation: portrait,
  ),
);

$color-bg: #000;
$color-main: #fff;
$color-accent: #02e6f7;
$color-hero: #ffffffc0;
$color-nav-bg: $color-bg;
$color-nav: #fff;
$color-heading-bg: #141718;

$nav-icon-animation-duration: 0.3s;
$nav-icon-transition: 0.3s;
$nav-item-size: 70px;
$nav-item-size-mobile: $nav-item-size / 1.5;

$category-top-bottom-padding: $nav-item-size * 1.5;
