.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media(lg, h) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.about__info {
  @include media(lg, h) {
    width: 30%;
  }
}

.about__p::after {
  content: "";
  margin: 1rem 0;
  position: relative;
  display: block;
  background-color: $color-accent;
  height: 1px;
  width: 100%;
}

.about__p:last-of-type::after {
  display: none;
}

.about__image-wrapper {
  margin-top: 1rem;
  @include media(xs) {
    margin-top: 2rem;
  }
  @include media(lg, h) {
    margin-top: 0;
    width: 65%;
  }
}

.about__img {
  width: 100%;
  height: auto;
  border: 1px solid $color-accent;
}
