.homepage {
  position: relative;
  background-color: $color-bg;
  color: $color-main;
}

.homepage__intro {
  position: relative;
  top: 0;
  left: 0;
  background-image: url("./assets/img/bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
  height: 100vh;
  transition: 0.7s; // -------------------------------
  @include media(md) {
    background-position: center;
  }
}

.homepage__hero-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20vh;
  @include media(md) {
    bottom: 50vh;
    left: 15vw;
    text-align: left;
    transform: translateX(0);
  }
}
