.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  @include media(lg, h) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.offer__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 40vh;
  width: 80%;
  margin-top: 1rem;
  border: 1px solid $color-accent;
  order: 2;
  @include media(lg, h) {
    width: 35%;
    order: 1;
    border: none;
    align-items: center;
  }
}

.offer__img {
  height: 90%;
  @include media(lg, h) {
    width: 100%;
    height: auto;
  }
}

.offer__price-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  order: 1;
  @include media(lg, h) {
    height: 80%;
    width: 60%;
    order: 2;
  }
}

.offer__category-list {
  display: flex;
  width: 100%;
  border-bottom: 1px solid $color-accent;
}

.offer__category {
  transition: 0.3s;
  display: flex;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
  width: 80%;
  cursor: pointer;
  &:hover {
    background-color: darken($color-accent, 45%);
  }
}

.offer__category--active {
  background-color: darken($color-accent, 45%);
}

.offer__pricing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0 5%;
  @include media(lg, h) {
    overflow-y: scroll;
    padding: 5% 20%;
  }
}

.offer__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.offer__price {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
