.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media(lg, h) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.offer__image-wrapper {
  margin-top: 1rem;
  @include media(xs) {
    margin-top: 2rem;
  }
  @include media(lg, h) {
    margin-top: 0;
    width: 35%;
  }
}

.offer__img {
  width: 100%;
  height: auto;
}

.offer__price-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media(lg, h) {
    height: 50%;
    width: 60%;
  }
}

.offer__category-list {
  display: flex;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid $color-accent;
}

.offer__category {
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  cursor: pointer;
  &:hover {
    background-color: darken($color-accent, 45%);
  }
}

.offer__category--active {
  background-color: darken($color-accent, 45%);
}

.offer__pricing {
  position: relative;
  top: 4rem;
  display: flex;
  justify-content: space-between;
  width: 60%;
}
